<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:C:\Java\CQLdataBase2\src\org\itstep\User.DB</property>
        <property name="hibernate.dialect">com.enigmabridge.hibernate.dialect.SQLiteDialect</property>
        <mapping class="org.itstep.UserEntity"/>


        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

    </session-factory>
</hibernate-configuration>